@import "../scripts/orion/editor/editor.css";

ul{
	display: block;
	list-style-type: none;
	margin:0;
	padding:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

/*
	Main layout styles
*/
html, body{
	height:100%;
	overflow-y: hidden;
}

body{
	background-color:#fff;
	overflow:hidden;
	font-size: 10px;
	font-family: "Monaco","Ubuntu","Myriad","Helvetica","Tahoma","Arial","clean","sans-serif";
}

header{
	height: 26px;
	background: #404040; /* for non-css3 browsers */

	border-top-width: 1px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width: 1px;
	border-style: solid;
	
	border-top-color: #969497;
	border-bottom-color: #000000;
}

#main{
	height:100%;
	padding:27px auto 18px;
}

#editor{
	width:auto;
	height:100%;
	margin:0 0 0 200px;
	position:relative;
	box-shadow:10px 2px 10px -5px #444;
	z-index:1;
}

#editor_wrapper{
	height:100%;
}

#navigator-container{ 
	height:100%;
	overflow:auto;
}

#navigator-wrapper{
	height:100% !important;
	width:200px;
	float:left;
	background-color: #323232;
}

#side_panel{
	right:0px;
	position:absolute;
	top:28px;
	bottom:16px;
	
	width:38%;
	display:none;
	background-color:#A4A4A4;
	overflow:hidden;
}

.subeditor{
	height:100%;
	width:auto;
	position:relative;
}

.subeditor_wrapper{
	height:100%;
	margin:10px;
	background-color:#eee;
	box-shadow:5px 5px 10px #444;
	border-radius:5px;
}

.subeditor_title{
	position:relative;
	font-size:11px;
	color:#333;
	top:3px;
	left:3px;
}

.subeditor_titlebar{
	height:24px;
	background-color:#D0D0D0;
	padding:0 5px;
	width:auto;
	border-radius:5px 5px 0 0;
}

.subeditor_options{
	margin:4px 0 0 0;
	float:right;
}

.subeditor_options > *{
	background-image:url(../images/core_sprites.png);
	width:16px;
	height:16px;
	cursor:pointer;
	display:inline-block;
	border:1px solid transparent;
}

.subeditor_options > *:hover{
	background-color:#e6e6e6;
	border-radius:2px;
	border:1px solid gray;
}

.subeditor_switch{
	background-position:48px -854px;
}

.subeditor_close{
	background-position:0px -198px;
}



.light_gradient{
	background-color: #323232;
}

.light_gradient_active{
	background-color: #4f4f4f;
}

footer{
	background-color:#777;
	height:18px;
	min-height:18px;
	width:100%;
	clear:both;
}

#status{
	font-size:12px;
	color:#eee;
	float:right;
}

.main_gradient{
	background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#6c6c6c)); /* webkit */
	background: -moz-linear-gradient(top,  #aaaaaa,  #6c6c6c); /* firefox */
}

.right{
	float:right;
}

#help_open{
	margin:4px 5px 0 0;
	cursor:pointer;
	background-image: url(../images/help.png);
	width:16px;
	height:16px;
}

#side_toggle{
	margin: 4px 5px 0 0;
	cursor:pointer;
	background-image: url(../images/split.png);
	width:16px;
	height:16px;
}

#help_panel{
	position:absolute;
	bottom:18px;
	right:0;
	width:300px;
	display:none;
	background-color:#eee;
	overflow:auto;
	z-index:4;
	border-left:1px solid #000;
}

#command_list{
	list-style-type:none;
	padding:0;
	margin:0;
/*	font-size:70%;*/
	padding:0 10px;
}

#command_list li{
	clear:both;
}

.shortcut_name{
	float:left;
}	
.shortcut_command{
	float:right;
}

#breadcrumb{
	height:22px;
	width:auto;
	border-top:2px solid #323232;
	background-color: #323232;
}

#breadcrumb > li{
	height:16px;
	float:left;
	border-right:2px solid #ffffff;
	font-size:12px;
	color: #ffffff;
	line-height:12px;
	padding:2px 7px 0px 7px;
	-webkit-transform: skew(-20deg);
	-webkit-transform-origin: bottom left;
	-moz-transform: skew(-20deg);
	-moz-transform-origin: bottom left;
	transform: skew(-20deg);
	transform-origin: bottom left;
}

#breadcrumb > li:last-child{
	border-right:0;
}


#breadcrumb > li span{
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	transform: skew(20deg);
	display:inline-block;
}

.breadcrumb_menu{
	display:none;
	position:absolute;
	background-color:#323232;
	height:auto;
	width:auto;
	color:#fff;
	z-index:300;
	cursor:pointer;
	padding:5px;
	font-size:12px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.breadcrumb_menu > li > a {
	color:#fff;
	text-decoration:none;
	width:100%;
}

.contentassist > div{
	white-space:nowrap;
}

.dijitDialogPaneContent a{
	border: 1px solid transparent;
}

.dijitDialogPaneContent a:focus{
	border: 1px solid #E59700;
}

/*
	Navigator styles
*/
.secondaryColumn {/*
	padding:0 2px;*/
	width:100%;
}

.arrow {
  border-color: transparent white transparent transparent;
  border-style:solid;
  border-width: 12px;
  width:0;
  height:0;
  min-width:12px;
}

.highlightrow > td {
	background-color: #bfbfbf;
	color: #000000;
}

.arrowoff {
  border-color: transparent transparent transparent transparent;
  border-style:solid;
  border-width: 12px;
  width:0;
  height:0;
  min-width:12px;
}

.secondaryColumn{
	padding:3px 0 0 0;
}

.secondaryColumn span{
	color:#eee;
	margin:0 0 0 0px;
}

.secondaryColumn a{
	color:#fff;
}

.secondaryColumnDark {
	padding: 3px 0 0 0;
}

.secondaryColumnDark a {
	color:#000000;
}

.secondaryColumnDark a:hover {
	text-decoration:none;
}

.secondaryColumn a:hover{
	text-decoration:none;
}

#explorer-tree > *{
	height:100%;
	width:100%;
}

#explorer-treeinnerTree > *{
	width:200px;
	white-space: nowrap;
}

#explorer-treeinnerTreetbody > *{
	width:200px;
	border-spacing:0px;
	height:18px;
}

.lightTreeTableRow > td {
	background: #3e3e3e
}

.darkTreeTableRow > td {
	background: #323332
}

.outlineSelectedRow {
	background: #eeeeee;
}

/* 
	Directory open/close sprites
*/

.modelDecorationSprite { 
	display: inline-block; 
	vertical-align: middle; 
	background-image: url(../images/core_sprites.png);
	padding-left: 1px;
	padding-right: 1px;
	margin-right: 0px;
}


.modelDecorationSprite2 {
        display: inline-block; 
        vertical-align: middle; 
        padding-left: 1px;
        padding-right: 1px;
        margin-right: 0px;
}

.core-sprite-twistie_closed{ background-position: -96px -1242px; width: 16px; height: 16px; } 

.core-sprite-twistie_open{ background-position: -96px -1308px; width: 16px; height: 16px; } 

.core-sprite-file_model{ background-position: 0 -891px; width: 16px; height: 16px; } 

.core-sprite-blank_model{ 
	background-position: 0 0;
	width: 16px; height: 16px; 
} 

.contentassist {
	display: none;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 2px inset #DDD;
	z-index:10;
	cursor: default;
	overflow: auto;
	height: 150px;
	width: 300px;
}

/*
	Content assist proposal styles
*/
.contentassist>div {
	padding: 1px 3px 0 3px;
}

.contentassist>div:hover {
	background-color: #EAF2FE;
}

.contentassist .proposal-emphasis {
	font-weight: bold
}
.contentassist .proposal-noemphasis {
	background-color: linen;
	font-weight: lighter;
	color: grey;
}
.contentassist .proposal-hr {
	/* display as horizontal rule */
	text-decoration:line-through;
}
.contentassist .proposal-default {
	/* nothing */
}

.contentassist .selected {
	background-color: #DDD;
}

/*
	Editor styles
*/

.textviewLeftRuler, .textviewLeftRuler .annotations, .textviewRightRuler, .textviewRightRuler .overview{
	border-radius:0 0 5px 5px;
}

.textviewLeftRuler *{
	height:100%;
}

.textviewContent{
	cursor:text;
}

.textviewContainer{
	border-radius:0 0 5px 5px;
}

.textviewContainer > div{
	background-color:#eee;
}

.ruler{
	background-color:#eee;
}

#pageToolbar{
	position:absolute;
	left:0px;
	top:0;
	z-index:2;
	font: 14px Monaco,Ubuntu,Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

#parameterArea{
	position:absolute;
	left:0px;
	top:0px;
	right:15px;
}

.shadow{
	-moz-box-shadow: 3px 5px 8px #000;
	-webkit-box-shadow: 3px 5px 8px #000;
	box-shadow: 3px 5px 8px #000;
}

/*
	JQuery UI styles (for resizable)
*/

.ui-icon { width: 16px; height: 16px; background-image: url(../images/ui-icons.png)/*{iconsContent}*/; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 10px; left: 0px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

