@import "../scripts/orion/editor/editor.css";
@import "../scripts/scripted/exec/console.css";
@import "fonts.css";

ul{
	display: block;
	list-style-type: none;
	margin:0;
	padding:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

/*
	Main layout styles
*/
html, body{
	height:100%;
	overflow-y: hidden;
}

body{
	background-color:#fff;
	overflow:hidden;
	font-size: 10px;
	font-family: InconsolataEmbedded, "Monaco","Ubuntu","Myriad","Helvetica","Tahoma","Arial","clean","sans-serif";
}

header{
	height: 31px;
	background: #404040; /* for non-css3 browsers */
	border-top: 1px solid #626666;
	border-bottom: 1px solid #000;
	border-left: 0;
	border-right: 0;
}

#main{
	height:100%;
	padding:27px auto 18px;
}

#editor{
	width:auto;
	height:100%;
	margin:0 0 0 200px;
	position:relative;
	box-shadow:10px 2px 10px -5px #444;
	z-index:1;
}

#editor_wrapper{
	height:100%;
}

#navigator-container{ 
	height:100%;
	overflow:auto;
	margin-top: 10px;
}

#navigator-wrapper{
	height:100% !important;
	width:200px;
	float:left;
	background-color: #323232;
}

#side_panel{
	right:0px;
	position:absolute;
	top:28px;
	bottom:16px;
	
	width:38%;
	display:none;
	background-color:#A4A4A4;
	overflow:hidden;
}

.subeditor{
	height:100%;
	width:auto;
	position:relative;
}

.subeditor_wrapper{
	height:100%;
	margin:10px;
	background-color:#eee;
	box-shadow:5px 5px 10px #444;
	border-radius:5px;
}

.subeditor_title{
	position:relative;
	font-size:11px;
	color:#333;
	top:3px;
	left:3px;
}

.subeditor_titlebar{
	height:24px;
	background-color:#D0D0D0;
	padding:0 5px;
	width:auto;
	border-radius:5px 5px 0 0;
}

.subeditor_options{
	margin:4px 0 0 0;
	float:right;
}

.subeditor_options > *{
	background-image:url(../images/core_sprites.png);
	width:16px;
	height:16px;
	cursor:pointer;
	display:inline-block;
	border:1px solid transparent;
}

.subeditor_options > *:hover{
	background-color:#e6e6e6;
	border-radius:2px;
	border:1px solid gray;
}

.subeditor_switch{
	background-position:48px -854px;
}

.subeditor_close{
	background-position:0px -198px;
}

.light_gradient{
	background-color: #323232;
}

.light_gradient_active{
	background-color: #4f4f4f;
}

footer{
	background-color:#EEE;
	border-top: 1px solid #D3D3D3;
	height:18px;
	min-height:18px;
	width:100%;
	clear:both;
}

#status{
	font-size:12px;
	color:#666;
	float:right;
}

.main_gradient{
	background: -webkit-gradient(linear, left top, left bottom, from(#393737), to(#272626)); /* webkit */
	background: -moz-linear-gradient(top,  #393737,  #272626); /* firefox */
}

.scriptedlogo {
	color: #fff;
	font-size: 22px;
	margin-left: 8px;
	font-family: InconsolataEmbedded
}

.right{
	float:right;
}

#help_open{
	margin:5px 5px 0 0;
	cursor:pointer;
	background-image: url(../images/help.png);
	width:20px;
	height:20px;
}

#side_toggle{
	margin: 5px 5px 0 0;
	cursor:pointer;
	background-image: url(../images/split.png);
	width:20px;
	height:20px;
}

#console_toggle {
	margin: 5px 5px 0 0;
	cursor:pointer;
	background-image: url(../images/console.png);
	width:20px;
	height:20px;
}

#breadcrumb{
	height:36px;
	width:auto;
	background-color: #323232;
}

#breadcrumb > li{
	height:36px;
	float:left;
	font-size:12px;
	color: #ffffff;
	line-height:36px;
}
#breadcrumb > li:after {
	background: url(../images/core_sprites.png) no-repeat -96px -1505px;
	content: "\0020";
	display: inline-block;
	width: 12px;
	height: 36px;
	float: right;
	margin: 0 5px;
}
#breadcrumb > li:first-child{
	margin-left: 12px;
}
#breadcrumb > li:last-child:after{
	background: none
}

#breadcrumb #historycrumb img{
	position: relative;
	top: 3px;
}

.breadcrumb_menu{
	display:none;
	position:absolute;
	background-color:#323232;
	height:auto;
	width:auto;
	color:#fff;
	z-index:300;
	cursor:pointer;
	padding:5px;
	font-size:12px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.breadcrumb_menu > li > a {
	color:#fff;
	text-decoration:none;
	width:100%;
}

.contentassist > div{
	white-space:nowrap;
}

.dijitDialogPaneContent a{
	border: 1px solid transparent;
}

.dijitDialogPaneContent a:focus{
	border: 1px solid #E59700;
}

/*
	Navigator styles
*/
.secondaryColumn {/*
	padding:0 2px;*/
	width:100%;
}

.arrow {
  border-color: transparent white transparent transparent;
  border-style:solid;
  border-width: 12px;
  width:0;
  height:0;
  min-width:12px;
}

.highlightrow > td {
	background: #D3D1D1;
	background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#C5C2C2)); /* webkit */
	background: -moz-linear-gradient(top,  #DDD,  #C5C2C2); /* firefox */
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #1C1C1C;
	color: #000000;
}

.arrowoff {
  border-color: transparent transparent transparent transparent;
  border-style:solid;
  border-width: 12px;
  width:0;
  height:0;
  min-width:12px;
}

.secondaryColumn{
	padding:3px 0 0 0;
}

.secondaryColumn span{
	color:#eee;
	margin:0 0 0 0px;
}

.secondaryColumn a{
	color:#fff;
}

.secondaryColumnDark {
	padding: 3px 0 0 0;
}

.secondaryColumnDark a {
	color:#000000;
}

.secondaryColumnDark a:hover {
	text-decoration:none;
}

.secondaryColumn a:hover{
	text-decoration:none;
}

#explorer-tree > *{
	height:100%;
	width:100%;
}

#explorer-treeinnerTree > *{
	width:200px;
	white-space: nowrap;
}

#explorer-treeinnerTreetbody > *{
	width:200px;
	border-spacing:0px;
	height:18px;
}

.lightTreeTableRow > td {
	/*background: #3e3e3e*/
}

.darkTreeTableRow > td {
	background: #323332
}

.outlineSelectedRow {
	background: #eeeeee;
}

/* 
	Directory open/close sprites
*/

.modelDecorationSprite { 
	display: inline-block; 
	vertical-align: middle; 
	background-image: url(../images/core_sprites.png);
	padding-left: 1px;
	padding-right: 1px;
	margin-right: 0px;
}


.modelDecorationSprite2 {
        display: inline-block; 
        vertical-align: middle; 
        padding-left: 1px;
        padding-right: 1px;
        margin-right: 0px;
}

.core-sprite-twistie_closed{ background-position: -94px -1241px; width: 16px; height: 16px; } 

.core-sprite-twistie_open{ background-position: -94px -1307px; width: 16px; height: 16px; } 

.core-sprite-file_model{ background-position: 0 -891px; width: 16px; height: 16px; } 

.core-sprite-blank_model{ 
	background-position: 0 0;
	width: 16px; height: 16px; 
} 

.contentassist {
	display: none;
	background-color: white;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 2px inset #DDD;
	z-index:10;
	cursor: default;
	overflow: auto;
	height: 150px;
	width: 300px;
}

/*
	Content assist proposal styles
*/
.contentassist>div {
	padding: 1px 3px 0 3px;
}

.contentassist>div:hover {
	background-color: #EAF2FE;
}

.contentassist .proposal-emphasis {
	font-weight: bold
}
.contentassist .proposal-noemphasis {
	background-color: linen;
	font-weight: lighter;
	color: grey;
}
.contentassist .proposal-hr {
	/* display as horizontal rule */
	text-decoration:line-through;
}
.contentassist .proposal-default {
	/* nothing */
}

.contentassist .selected {
	background-color: #DDD;
}

/*
	Editor styles
*/

.textviewLeftRuler, .textviewLeftRuler .annotations, .textviewRightRuler, .textviewRightRuler .overview{
	border-radius:0 0 5px 5px;
}

.textviewLeftRuler *{
	height:100%;
}

.textviewContent{
	cursor:text;
}

.textviewContainer{
	border-radius:0 0 5px 5px;
}

.textviewContainer > div{
	background-color:#eee;
}

.ruler{
	background-color:#eee;
}

#pageToolbar{
	position:absolute;
	left:0px;
	top:0;
	z-index:2;
	font: 14px Monaco,Ubuntu,Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

#parameterArea{
	position:absolute;
	left:0px;
	top:0px;
	right:15px;
}

.shadow{
	-moz-box-shadow: 3px 5px 8px #000;
	-webkit-box-shadow: 3px 5px 8px #000;
	box-shadow: 3px 5px 8px #000;
}

/*
	JQuery UI styles (for resizable)
*/

.ui-icon { width: 16px; height: 16px; background-image: url(../images/ui-icons.png)/*{iconsContent}*/; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 10px; left: 0px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

/*
 * Dialog related styling
 */
#dialog_mask {
  width:100%;
  height:100%;
  filter:alpha(opacity=35%)
  -moz-opacity:0.35;
  -khtml-opacity:0.35;
  opacity:0.35;
  background:#000;
  position:absolute;
  top:0;
  left:0;
  z-index:3000;
  display:none;
}

.dynamic_dialog_popup {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    background:#eee;

    width:320px; 

    position:absolute; 
    z-index:5000;
 
    display:block;
} 

a.dialog_button {
    margin:10px auto 5px auto;
    text-align:center;
    display: block;
    width:50px;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
     
    /* button color */
    background-color: #323232;
     
    /* rounded corner */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     
    /* text shadow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
     
}

.dialog_footer {
	height: 5px;
}

a.dialog_button:hover {
	background-color: #4f4f4f;
}

.dialog {
/*
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
     */
     
     -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    background:#777;

    width:600px; 

    position:absolute; 
    z-index:5000; 

    display:inline;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.dialog_narrow {
	width: 300px;
}

.dialog_wide {
	width: 800px;
}

.dialog_heading {
	color:#eee;
	text-align:left;
	font-size:20px;
	margin-left: 10px;
	margin-top: 10px;
}

.dialog_heading .livenessIndicator {
	float:right;
	font-family:monospace;
}

.dialog_body {
/*
	margin: 5px;
	*/
} 
.dialog_input_field_border {
  margin: 0px 5px 0px 5px;
}
  
.dialog_input_field {
	outline: 0px;
	border-width:0px;
/*	margin:5px;
*/
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
    background-color:#eeeeee;
	font-size:18px;
} 

.dialog .dialog_results_list {
  background-color:#eeeeee;
  overflow: auto;
  font-size:14px;
  min-height: 0px;
  max-height: 500px;
}

.dialog_outline_row {
	background: #bbb;
}

.dialog_results_list div {
  white-space:nowrap;
}

.dynamic_dialog_content {
    font-family:arial;
    font-size:13px; 
    text-align:center;
    margin:5px;
    color:#666; 
    padding:2px;
}

#dialog_error_message {
    font-family:arial;
    font-size:13px; 
    text-align:center;
    margin:5px;
    color:red; 
    padding:2px;
}

#dialog_message_resource_to_delete {
   font-style:italic;
}

.dialogue_text {
   width:200px; 
}

.dialog_results_row {
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #eeeeee;
	border-bottom-style: solid;
	border-bottom-color:#ddd;
	border-bottom-width:1px;
	height: 19px;
	max-height: 19px;
}

.dialog_outlinedialog_entry {
	font-family: InconsolataEmbedded, monospace;
	font-size: 12px;
}

/* In 'look in files' styling for results text column */
.dialog_matchtextcontext {
	display: inline-block;
	font-family: InconsolataEmbedded, monospace;
	font-size: 12px;
	min-width: 480px;
}

.dialog_matchhighlight {
	background: yellow;
}

#dialogue_ok_button {
  float: left;
  margin-left: 75px;
}

#dialogue_cancel_button {
   float: right;
   margin-right: 75px;
}

/*
	Context Menus
*/

.context_menu {
	position: absolute;
	
	zoom: 1.0;
	opacity: 0.93;
	filter: alpha(opacity=93);
	border: 1px solid #b2b2b2;
	z-index: 9999;
	
	/* rounded corner */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    
    background-color:white; 
      
    /* currently a fixed width: */ 
    width:160px; 
}

.context_menu_item {
	text-align: left;
	cursor: pointer;
	color: black;
	background-color:white; 
	
		/* rounded corner */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20%;

    font-weight: normal;		
				
	font-family: arial;

	font-size: 13px;
	
	opacity: 1.0;
	filter: alpha(opacity=100);
		
	z-index: 1;
}

.context_menu_item:hover {
	background-color: #4f4f4f;
	color: white;
		/* rounded corner */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*
 * Keybinding help and editor 
 */

#help_panel{
	position:absolute;
	bottom:18px;
	right:0;
	width:300px;
	display:none;
	background-color:#eee;
	overflow:auto;
	z-index:4;
	border-left:1px solid #000;
}

#command_list{
	list-style-type:none;
	padding:0;
	margin:0;
/*	font-size:70%;*/
	padding:0 10px;
}

#command_list li{
	clear:both;
}

.shortcut_name{
	float:left;
}	
.shortcut_keystroke {
	float:right;
	cursor: pointer; 
}

.shortcut_line {
	display: block;
}

.keybinding_editor {
	border: 1px solid #B2B2B2;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    background:#eee;

    width:100%; 

    //position:absolute; 
    z-index:5000; 
 
    display:block;
}

.keybinding_editor_contents {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.keybinding_editor_capture {
	width: 100%;
	margin-bottom: 10px;
}

.keybinding_editor_message {
	color: red;
	margin-bottom: 10px;
	font-size: 12px;
}

a.keybinding_button {
    margin-bottom:10px;
    margin-right:10px;
    text-align:center;
    display: inline-block;
    width:50px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
     
    /* button color */
    background-color: #323232;
     
    /* rounded corner */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    -moz-box-shadow: 0px 1px 3px black;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     
    /* text shadow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.inprogress_indicator {
	float:right;
	font-family:InconsolataEmbedded,monospace;
	margin-right: 4px;
	background: url(../images/pending-1.gif) no-repeat center;  
	width: 16px; height: 16px;
}

.paused_indicator {
	float:right;
	font-family:InconsolataEmbedded,monospace;
	margin-right: 4px;
	background: url(../images/pending-1-paused.gif) no-repeat center;  
	width: 16px; height: 16px;
}

