<div class="dijitDialog" tabindex="-1" waiRole="dialog" title="${title}" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<div class="searchDialogTable">
			<div class="searchDialogRow">
				<div class="search">
					<input type="text" dojoType="dijit.form.TextBox" dojoAttachPoint="resourceName" 
						placeHolder="${searchPlaceHolder}"
						intermediateChanges="true" style="width:30em;outline:none;">
				</div>
			</div>
			<div class="searchDialogRow">
				<div dojoAttachPoint="favresults" class="results searchDialogRowFavResults"></div>
			</div>
			<div class="searchDialogRow">
				<div dojoAttachPoint="results" class="results"></div><!--height:auto; overflow-y:auto;"></div-->
			</div>
			<div class="searchDialogRow">
				<div dojoAttachPoint="statusbar" class="searchDialogStatus"></div>
			</div>
		</div>
	</div>
</div>