.rowResult {
	width:100%;
}

.col1{
	font-family:monospace;				
}

.col2{
}

.searchDialogTable {
	display:table;
	width:100%;
}

.searchDialogRow {
	display:table-row;
}


.searchDialogRowFavResults {
 	overflow-y:auto;
}
 
 .searchDialogRow .results {
 	max-height:400px; 
	overflow:auto;
}

.searchDialogStatus {
	display:table-cell;
}

.searchDialogRow .search {
	display:table-cell; 
	padding:3px;
}