/* Styles for rulers */
.ruler {
}
.ruler.annotations {
	width: 16px;
	/* Scripted - TODO override properly */
	border-right: 1px solid lightgray;
}
.ruler.folding {
	background-color: white;
	width: 14px;
}
.ruler.lines {
	/* Scripted - removed this, TODO override properly
	background-color: white;
	*/
	text-align: right;
	
	/* Scripted - TODO override properly */
	border-right: 1px solid lightgray;
}
.ruler.overview {
	width: 14px;
}

/* Styles for the line number ruler */
.rulerLines {
	/* scripted - removed this, need to override in a better way
	color: silver;
	*/
	background: #eeeeee;
}
.rulerLines.even
.rulerLines.odd {
}