/* Styles for rulers */
.ruler {
}
.ruler.annotations {
	width: 16px;
	border-right: 1px solid lightgray;
	background: white;
}
.ruler.folding {
	background-color: white;
	width: 14px;
}
.ruler.lines {
	background-color: white;
	text-align: right;
	
	padding-right: 1px;
	border-right: 1px solid lightgray;
}
.ruler.overview {
	width: 14px;
}

/* Styles for the line number ruler */
.rulerLines {
	color: rgb(60,60,60);
	background: white;
}
.rulerLines.even
.rulerLines.odd {
}