.textview {
	background-color: white;
	padding: 1px 2px;
}

.textviewContainer {
	background-color: #eeeeee;
	font-family: Monaco, Consolas, "Lucida Console", "Ubuntu Mono", Monospace, monospace;
	font-size: 9pt;
}
::-webkit-scrollbar-corner {
	background-color: #eeeeee;
}

.textviewContent {
}